%hover {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear;
}

.slidester {
	width:100%;
    position: relative;

    .images {
        img {
        	width: 100%;
        	position: absolute;
        	top: 0;
        	left: 0;
            z-index: 10;
        }
    }

    .control-buttons {
        position: absolute;
        z-index: 20;
        width: 100%;

        &.hover {
            @extend %hover;
        }

        .control-left {
            background-image: url("../images/default-left.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 75px;
            height: 75px;
            display: block;
            float: left;
            cursor: pointer;
        }

        .control-right {
            @extend .control-left;
            background-image: url("../images/default-right.png");
            float: right;
        }
    }

    .control-radio {
        position: absolute;
        z-index: 20;
        width: 100%;
        text-align: center;

        &.hover {
            @extend %hover;
        }

        .radio {
            display: inline-block;
            border: 2px solid #ffffff;
            width: 15px;
            height: 15px;
            border-radius: 15px;
            margin: 2px;

            &:hover {
                cursor: pointer;
                background-color: #ffffff;
            }

            &.active {
                background-color: #ffffff;
            }
        }
    }

    &:hover {
        .control-buttons.hover {
            opacity: 1;
            visibility: visible;
        }

        .control-radio.hover {
            opacity: 1;
            visibility: visible;
        }
    }
}
